@media (max-width: 960px) {
   .composition__title {
      font-size: 60px;
   }
   .composition__item-1::before,
   .composition__item-2::before,
   .composition__item-3::before {
      left: 125px;
   }
   .composition__item-4::before,
   .composition__item-5::before,
   .composition__item-6::before {
      right: 125px;
   }
}
@media (max-width: 860px) {
   .title {
      font-size: 60px;
   }
   .header__text-list {
      li {
         font-size: 30px;
         &::before {
            top: 12px;
         }
      }
   }
}
@media (max-width: 740px) {
   .composition__item-1::before,
   .composition__item-2::before,
   .composition__item-3::before,
   .composition__item-4::before,
   .composition__item-6::before {
      width: 70px;
   }
   .composition__item-5::before {
      width: 65px;
   }
   .composition__item-1,
   .composition__item-2,
   .composition__item-3 {
      padding-right: 85px;
   }
   .composition__item-4,
   .composition__item-5,
   .composition__item-6 {
      padding-left: 85px;
   }
}
@media (max-width: 670px){
   .promo__inner{
      display: block;
   }
   .promo__image {
      min-width: 0;
      max-width: 300px;
      margin: 0 auto;
      &::before{
         top: 75px;
      }
   }
   .promo__text{
      margin-left: 0;
   }
}
@media (max-width: 640px) {
   .composition__item-1::before,
   .composition__item-4::before {
      top: 100px;
   }
   .composition__item-3::before,
   .composition__item-6::before {
      top: 0px;
   }
   .composition__item-1::before,
   .composition__item-2::before,
   .composition__item-3::before {
      left: 120px;
   }
   .composition__item-4::before,
   .composition__item-5::before,
   .composition__item-6::before {
      right: 120px;
   }
}

@media (max-width: 550px) {
   .header__image {
      margin: 0 auto;
      margin-bottom: 20px;
      img {
         max-height: 320px;
      }
   }
   .header__inner {
      flex-wrap: wrap;
   }
   .title{
      font-size: 40px;
   }
   .header__title {
      margin-bottom: 20px;
      font-size: 40px;
   }
   .header__text-list li {
      font-size: 20px;
   }
   .header__text {
      width: 100%;
   }
}
@media (max-width: 500px){
   .composition__items-center{
      display: none;
   }
   .composition__item-1::before,
   .composition__item-2::before,
   .composition__item-3::before,
   .composition__item-4::before,
   .composition__item-5::before,
   .composition__item-6::before {
      display: none;
   }
   .composition__item-1,
   .composition__item-2,
   .composition__item-3,
   .composition__item-4,
   .composition__item-5,
   .composition__item-6{
      padding: 0;
   }
   .promo__list{
      flex-wrap: wrap;
      justify-content: center;

   }
   .promo__list li{
      margin-bottom: 20px;
   }
   .promo__list li+li{
      margin-left: 0;
   }
}
@media (max-width: 480px){
   .order__inner{
      flex-wrap: wrap;
   }
   .order__offer{
      margin-bottom: 20px;
   }
   .order__form-wrapper{
      width: 100%;
      margin: 0;
   }
   .order__form{
      margin: 0;
      width: 100%;
   }
   .order__time{
      flex-wrap: wrap;
   }
}
@media (max-width: 430px){
   .promo__list li{
      max-width: 100%;
   }
}